@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        align-items: center;
    }

    .home-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
        padding: 2rem;
    }

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
    }

    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr;
        align-items: start;
        padding: 2rem;
    }
}