/* Minimal Normalize / Reset */
*,
*::before,
*::after {
    box-sizing: border-box
}

html:focus-within {
    scroll-behavior: smooth
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%
}

img {
    height: auto
}

input,
button,
textarea,
select {
    font: inherit
}

a {
    color: inherit;
    text-decoration: none
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
    margin: 0;
    padding: 0
}