@media (min-width:768px) {
    .menu {
        display: none
    }

    .nav {
        display: block;
        width: auto;
        margin-left: auto
    }

    .nav ul {
        display: flex;
        gap: .35rem;
        margin: 0
    }

    .nav a {
        border: 0;
        border-radius: 10px;
        padding: .55rem .8rem
    }

    .nav a:hover {
        background: var(--brand-light)
    }

    .nav a.active {
        background: var(--brand)
    }

    main {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: min-content;
        gap: 1rem;
    }

    h1 {
        grid-column: 1 / -1
    }

    .about {
        grid-column: 1
    }

    .photo {
        grid-column: 2
    }

    .courses {
        grid-column: 1 / -1
    }

    .course-list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width:1100px) {
    main {
        gap: 1.2rem
    }
}