@media (min-width:768px) {
    .menu {
        display: none
    }

    nav {
        display: block;
        background: transparent
    }

    nav ul {
        display: flex;
        gap: .35rem;
        padding: 0
    }

    nav a {
        border-radius: 10px;
        padding: .55rem .8rem;
        color: #fff;
        background: transparent
    }

    header {
        padding: 1rem 2rem
    }

    .site-name {
        font-size: 1.35rem
    }

    main {
        padding: 1.5rem 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: min-content;
        gap: 1.2rem;
    }

    h1 {
        grid-column: 1/-1
    }

    .about {
        grid-column: 1
    }

    .photo {
        grid-column: 2
    }

    .courses {
        grid-column: 1/-1
    }

    .course-list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width:1024px) {
    .site-name {
        font-size: 1.5rem
    }
}